In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('F:/My Data Science Projects/Spam_Classifier/spam.csv',encoding='latin-1')
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
data = data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis=1)

In [4]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
import re
import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\RAHUL\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\RAHUL\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [6]:
# Cleaning the messages
corpus = []
ps = PorterStemmer()

for i in range(0,data.shape[0]):
 # Cleaning special character from the message
    message = re.sub(pattern='[^a-zA-Z]', repl=' ', string=data.v2[i])
    
 # Converting the entire message into lower case  
    message = message.lower()
    
 # Tokenizing the review by words
    words = message.split()   
 
 # Removing the stop words
    words = [word for word in words if word not in set(stopwords.words('english'))]
    
 # Stemming the words
    words = [ps.stem(word) for word in words]

 # Joining the stemmed words
    message = ' '.join(words)

 # Building a corpus of messages
    corpus.append(message)

In [7]:
# Creating the Bag of Words model
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=2500)
X = cv.fit_transform(corpus).toarray()

In [8]:
# Extracting dependent variable from the dataset
y = pd.get_dummies(data['v1'])
y = y.iloc[:, 1].values

In [9]:
# Model Building

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

# Fitting Naive Bayes to the Training set
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB(alpha=0.3)
classifier.fit(X_train, y_train)

MultinomialNB(alpha=0.3)

In [10]:
y_predicted = classifier.predict(X_test)

In [11]:
y_predicted

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [12]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_predicted)

0.9856502242152466

In [40]:
import pickle

In [41]:
# Creating a pickle file for the CountVectorizer
pickle.dump(cv, open('cv-transform.pkl', 'wb'))

In [42]:
# Creating a pickle file for the Multinomial Naive Bayes model
filename = 'spam-sms-mnb-model.pkl'
pickle.dump(classifier, open(filename, 'wb'))